body {
  background-image: url("https://picsum.photos/1600/900");
}

.head {
  text-align: center;
  color: rgb(215, 240, 250);
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  border-radius: 50%;
  max-width: 350px;
  width: 300px;
  gap: 10px;
  height: 300px;
  max-height: 300px;
  margin: 10rem auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: turquoise !important;
  opacity: 0.8;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-style: italic;
  font-weight: bolder;
}
